### 1-)Endeksi alfabenin ilk 10 harfi olan ve ilk 10 asal sayıyı ve ilk 10 fibonacci sayısını içeren bir veri çerçevesi oluşturun.

In [9]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

alfabe = ['A', 'B', 'C', 'D', 'E','F', 'G', 'H', 'I', 'J']
veriCer = pd.DataFrame(index=alfabe)

veriCer['Asal Sayılar'] = [2,3,5,7,11,13,17,19,23,29]
veriCer['Fibonacci'] = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
veriCer

   Asal Sayılar  Fibonacci
A             2          0
B             3          1
C             5          1
D             7          2
E            11          3
F            13          5
G            17          8
H            19         13
I            23         21
J            29         34

### 2-)Kaggle'dan Titanic: Machine Learning from Disaster isimli yarışmanın train.csv isimli dosyasını indirin ve Pandas veri çerçevelerini kullanarak tüm veriyi yükleyin. Veri çerçevelerinin .groupby() metodunu kullanarak yolcuların ortalama yaşlarını herbir cinsiyet için ayrı olacak şekilde hesaplayın.

In [6]:
df = pd.read_csv('train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
df = pd.read_csv('train.csv', index_col=0)
df.groupby(by='sex').mean()['age']

KeyError: 'sex'

### 3-)Koşullu seçim yöntemlerini de kullanarak, 30 yaşından küçük tüm yolcuların kurtulma oranını (survival ratio) hesaplayın. Daha sonra, kurtulma oranını cinsiyete göre ayrı ayrı hesaplayın.

In [8]:
survival_ratio_over_30=df[df['age'] > 30].loc[1].count()['name']/df[df['age'] > 30].count()['name']
print("Survival Ratio over 30 years old: {}".format(survival_ratio_over_30))
survival_ratio_for_females=df[df['sex'] == 'female'].loc[1].count()['name']/df[df['sex'] == 'female'].count()['name']
print("Female Survival Ratio : {}".format(survival_ratio_for_females))
survival_ratio_for_male=df[df['sex'] == 'male'].loc[1].count()['name']/df[df['sex'] == 'male'].count()['name']
print("Male Survival Ratio : {}".format(survival_ratio_for_male))

KeyError: 'age'